<div class="book-wrap">
<% @books.each do |book| %>
  <div class="book-box">
    <div class="book-comment">
      <span class="book-body"><%= book.body %></span>  <!-- %= book.body % はbookモデルのbodyカラムに入っているデータを呼び出している記述です。 -->
      <span class="book-title"><%=link_to book.title, book_path(book.id) %></span>
    </div>
  </div>
<% end %>  
</div>
<% @books.each do |book| %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="book-body"><%= book.body %></td>
      <td  class="book-title"><%=link_to book.title, book_path(book.id) %></td>
    </tr>
  </tbody>
</table>
<% end %>

<h1>New book</h1>

<!-- form_with部分 オプション追記(厳密な記述) -->
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <!-- Listモデルのtitle用のフィールドを追加 -->
　<h4>title</h4>
  <%= f.text_field :title %>
  <!-- Listモデルのbody用のフィールドを追加 -->
  <h4>body</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
  
<% end %>